node_modules/
/.env
/Data-Analysis/venv
/frontend/node_modules
/Backend/node_modules
/backend/GEE_Scripts/ee-rishikokil-eb013fb59d0f.json
/env
/social-data-service/venv 
/social-data-service/X_fetcher/venv
/social-data-service/.env 
backend/.env
backend/flask server/venv
backend/node_modules
backend/flask server/moondream_model
backend/privateKey.json
backend/uploads