node_modules/
/.env
/Data-Analysis/venv
/frontend/node_modules
/Backend/node_modules
/env
/social-data-service/venv 
/social-data-service/X_fetcher/venv
/social-data-service/.env 
backend/.env
backend/flask server/venv
backend/node_modules
backend/flask server/moondream_model
backend/privateKey.json
backend/uploads
backend/ee-rishikokil-eb013fb59d0f.json
models/
# Ignore private keys
*.pem
*.key
*.json